{% extends "AppMercado/padre.html"%}

{% load static %}

{% block Masthead %}
<div class="container">

    <div class="masthead-heading text-uppercase">TU MERCADO</div>
    <div class="masthead-subheading">Ingrese Vehiculo a vender!!</div>
{% endblock %}

{% block contenido %}
    INGRESE SUS DATOS Y DEL VEHICULO A PUBLICAR
    <div>------------------------------------------------ </div>
    <form action="{% url 'vehiculosFormulario' %}" method="POST"> {% csrf_token %}

        <table>

            {{ formulario.as_table }}
    
        </table>    
        <p> <input type="submit" value="Enviar"></p>

        {% comment %} <p> Item: <input type="text" name="nombre"</p>
        <p> Marca: <input type="text" name="marca"</p>
        <p> Precio: <input type="number" name="precio"</p>
        <p> Email contacto: <input type="email" name="email_contacto"</p>
        <p> Fecha publicacion: <input type="date" name="fecha_publicacion"</p>
        <p> <input type="submit" value="Enviar"></p> {% endcomment %}
    </form>

{% endblock %}

